# Домени/порти
DOMAIN=wp.local
HTTP_PORT=8080

# БД
DB_NAME=wp
DB_USER=wp
DB_PASSWORD=wp
DB_ROOT_PASSWORD=root
DB_HOST=db
DB_CHARSET=utf8mb4
DB_COLLATE=

# Xdebug
XDEBUG_MODE=debug,develop
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003

# Пам’ять для WP-CLI
PHP_MEMORY_LIMIT=512M
MAX_EXEC_TIME=300
